html, body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 241, 226);

}
/* cyrillic */
@font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOy8mJvLuL9BLT.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOwcmJvLuL9BLT.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsHOz8mJvLuL9A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@media (min-width: 600px) {
    .container {
        font-size: 200%;
    }

    .game_mode {
        column-gap: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    ul {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 600px) {
    .container {
        font-size: 150%;
        padding-left: 20%;
        padding-right: 20%;
    }

    .game_mode {
        flex-direction: column;
        row-gap: 40px;
    }
}

.container {
    background-color: rgb(255, 241, 226);
    height: 100%;
    /* margin: 0; */
    padding-top: 10%;
    padding-bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    color: rgb(44, 135, 192);
    font-family: 'Russo One', sans-serif;
}

h1, h2 {
    text-align: center;
    margin-bottom: 0;
}

.board-wrapper{
    padding-top: 0%;
    padding-bottom: 0%;
    row-gap: 10px;
}
p {
    margin-top: 0;
    text-align: center;
}

ul {
    margin-top: 0;
    align-self: center;
}

.game_mode {
    align-self: center;
    display: flex;
}

.game {
    width: 100px;
}

.buttons {
    justify-self: center;
    background-color: rgb(44, 135, 192);
    font-size: 80%;
    width: 200px;
    color: white;
}

.bottom_button {
    width: 200px;
    align-self: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

/* .board-class{
    display: flex;
    justify-content: center;
} */

.ships-display{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 5%;
}

.ship{
    /* max-width: 100%; */
    height: 60px;
}

.ship > img{
    height: 100%;
}

.classOverlay{
    pointer-events: none;
}

.highlight{
    background-color: red;
}


.WinnerBoard{
    visibility:visible;
}

.NoWinner{
    visibility: hidden;
}

